body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
    color: rgb(243, 243, 11);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(63, 0, 122);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;    
    gap: 16%;
    padding: 50px;
    border-radius: 10%;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buttons{
    display: flex;
    gap: 100px;
}

button{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover{
    cursor: pointer;
}

#rockBtn {
    background-image: url("rock-right.png");
}

#paperBtn{
    background-image: url("hand.png");
}

#scissorBtn{
    background-image: url("scissors.jpg");
}

.output{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: -50px;
}
.output button{
    cursor: none;
}

.p1-div, .p2-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

#sidebar1, #sidebar2{
    background-color: yellow;
    height: 100vh;
    width: 100vw;
    background-image: url("okay.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -50px;
    margin-left: -300px;
    margin-right: -300px;
    z-index: -1;
}
